@charset "UTF-8";

/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

/* 
  You can use 'fontsquirrel' (https://www.fontsquirrel.com) 
  or 'transfonter' (https://transfonter.org)
  to generate your own font for the web from .ttf or .oft files 
*/

@font-face {
  font-family: "Digital-7 Mono";
  src: url("assets/fonts/Mono/Digital-7Mono.woff2") format("woff2"),
    url("assets/fonts/Mono/Digital-7Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* VARIABLES */

:root {
  /* Color values */
  --color-background: rgba(0, 0, 0, 1);
  --color-text: rgba(255, 255, 255, 1);
  --color-text-hover: rgba(0, 0, 0, 1);
  --color-background-hover: rgba(255, 255, 255, 1);
  --color-text-link: rgba(0, 0, 255, 0.8);
  --color-text-link-hover: rgba(0, 0, 255, 0.4);
  /* Font values */
  --font-family: "Your Font Name", "Helvetica", "Arial", sans-serif;
  /* --font-size: 48px; */
  /* Margin value */
  --margin: 1rem;
}

/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  position: relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width: 100%;
  height: auto;
  overflow-y: auto;
  font-size: 14px;
  font-family: Helvetica;
  font-weight: normal;
  font-style: normal;
}

a {
  color: var(--color-text-link);
  /* text-decoration: underline; */
}

a:hover {
  /* text-decoration: underline; */
}

/* p {
  background-color: var(--color-background);
 color: var(--color-text);
 text-align: justify;
}

p:hover {
  color: var(--color-text-hover);
  background-color: var(--color-background-hover);
  text-align: left;
} */

.graphics {
  /* background-color: black; */
  overflow: hidden;
  /* max-height: 85vh; */
  width: 100%;
  /* height: 100vh; */
  position: sticky;
  top: 0;
}

.graphics img {
  width: 100vw;
  height: auto;
}

.chapter {
  position: absolute;
  display: flex;
  /* width: 100vw; */
  /* background-color: black; */
  box-sizing: border-box;
  /* border-top: solid #d9381e 1pt; */
  top: 5;
  z-index: 998;
  left: 0;
}

/* .chapter h2:nth-of-type(1) {
  text-align: center;
  font-family: "eurostile-extended", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: whitesmoke;
  background-color: #1c75bc;
  width: 15vw;
  left: 0;
  justify-content: center;
}

.chapter h2:nth-of-type(2) {
  font-family: "eurostile-extended", sans-serif;
  font-weight: 900;
  font-style: normal;
  background-color: red;
  color: whitesmoke;
  width: 70vw;
  margin-left: 0;
  justify-content: center;
}

.chapter h2:nth-of-type(3) {
  font-family: "eurostile-extended", sans-serif;
  font-weight: 900;
  font-style: normal;
  background-color: #1c75bc;
  color: whitesmoke;
  width: 15vw;
  margin-left: 0;
  right: 0;
  justify-content: center;
} */

.sub_chapter {
  width: 70vw;
  margin-left: 0;
  /* border: 1pt black solid; */
  /* margin-left: 15vw; */
  /* padding-left: 15vw; */
  position: sticky;
  top: 0;
  z-index: 999;
}

.sub_chapter h2 {
  color: rgba(50, 50, 50, 1);
  /* padding-left: 5vw; */
  background-color: gray !important;
  font-family: "eurostile-extended", sans-serif;
  font-weight: 900;
  font-style: normal;
  /* color: whitesmoke; */
  /* margin-left: 11vw; */
  /* margin-right: 11vw; */
  justify-content: center;
}

.sub_chapter:last-of-type h2:nth-last-of-type(2) {
  background-color: #1c75bc !important;
}

/* h1 {
  display: flex;
  align-items: center;
  padding-left: 25vw;
  max-width: 100%;
  height: 12vh;
  position: relative;
  font-size: 4rem;
  background-color: blue;
  color: whitesmoke;
  font-family: "Eurostile Extended";
  font-weight: bold;
  font-style: normal;
  text-align: left;
  overflow: hidden;
} */

h2 {
  display: flex;
  align-items: center;
  font-size: 6vh;
  background-color: #1c75bc;
  color: whitesmoke;
  /* border-radius: 1vh; */
  height: 10vh;
  font-family: "Eurostile Extended";
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1vw;
}

/* h2:hover {
  color: var(--color-text-hover);
  background-color: var(--color-background-hover);
} */

h3 {
  /* h3 style */
}

h4,
h5,
h6 {
  /* h4-h5-h6 style */
}

p {
  /* paragraph style */
}

ol,
ul {
  /* display: flex; */
  /* ordered list and unordered list styles */
}

blockquote {
  /* blockquote element style */
}

hr {
  /* horizontal rule style */
}

figure {
  width: 50vw;
  margin: auto;
  position: relative;
  padding: 1vw;
}

figure img {
  width: 100%;
  padding-bottom: 1vw;
}

figure video {
  min-width: 50vw;
}

figcaption {
  background-color: grey;
  color: rgba(50, 50, 50);
  padding-left: 5vw;
  padding-right: 5vw;
  height: auto;
  font-size: 1.12rem;
  max-width: 50vw;
  margin: auto;
  max-height: 100%;
  line-height: 110%;
  font-family: "eurostile", sans-serif;
  font-weight: 500;
  padding-top: 1vh;
  padding-bottom: 1.5vh;
  /* background-color: black; */
}

figcaption .reference-toggle {
  color:firebrick !important;
  font-weight: 600;
}

header {
  background-color: black;
  /* margin: 0 4rem; */
  height: 5vh;
  width: 100vw;
  text-align: center;
  /* padding: 1rem 0; */
  top: 0;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-around;
}

header .dot {
  height: 4.5vh;
  width: 4.5vh;
  border-radius: 50%;
  background-color: #1c75bc;
  border: 1pt solid black;
}

header .dot:hover {
  height: 4.5vh;
  width: 4.5vh;
  border-radius: 50%;
  border: 1pt solid #1c75bc;
  background-color: black;
}

header .dot.active {
  background-color: firebrick;
  border-color: black;
}

#slider {
  display: none;
  font-size: 4vh;
}

.clock {
  position: relative;
  width: 25%;
  padding-left: 1vw;
  /* height: 5vh; */
  font-size: 6vh;
  background-color: grey;
  color: red;
  font-family: Digital-7 Mono;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 5vh; */
  line-height: normal;
  /* margin-top: 0.4vh; */
}

header > h1 {
  font-size: 5rem;
  padding: 2rem 0;
}

header > p {
  font-size: 1.5rem;
}

figcaption > p {
  /* color: lightblue; */
}

blockquote {
  margin: 2rem 5rem 1rem 5rem;
}

svg {
  /* position: sticky; */
  top: 0;
  background-color: gray;
  max-height: 10vh;
}

/* polygon {
  position: sticky;
  top: 0;
} */

#door_1 {
  width: 50vw;
  height: 95vh;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: -50vw;
  /* background-color: aqua; */
  transition: left 0.5s ease-in-out;
  overflow: hidden; /* Ensure SVG doesn't overflow */
  /* border: 10pt solid b; */
  border-radius: 10vh;
}

#door_2 {
  width: 50vw;
  height: 95vh;
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: -50vw;
  /* background-color: aqua; */
  transition: right 0.5s ease-in-out;
  overflow: hidden; /* Ensure SVG doesn't overflow */
  /* border: 10pt solid red; */
  border-radius: 10vh;
}

#door_1.side {
  background-color: gray;
}

#door_2.side {
  background-color: gray;
}

#door_1 img {
  /* background-color: transparent; */
  min-width: 100%;
}

#door_2 img {
  /* background-color: transparent; */
  min-width: 100%;
}

/* #wall {
  background-color: red;
}

#map {
  width: 100vw;
  height: 100vh;
  background-color: red;
  position: fixed;
  display: none;
  z-index: 998;
} */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 100vw;
  height: 100vh;
  /* border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%; */
  /* width: 50px;
  height: 50px; */
  /* animation: spin 2s linear infinite; */
}

/* @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

.wrapper {
  display: none;
  /* display: flex; */
  /* scroll-snap-type: x mandatory; */
  overflow-x: hidden;
  height: 95vh;
  width: 100vw;
  position: fixed;
  /* border: 1pt whitesmoke solid; */
  /* background-color: rgba(50, 50, 50); */
  bottom: 0;
  box-sizing: border-box;
}

.line {
  /* background-color: rgba(50, 50, 50); */
  background-color: gray;
  /* display: none; */
}

.line:nth-of-type(1) {
  width: 2vw;
  height: 100vh;
  /* background-color: gray; */
  /* z-index: 999; */
  position: fixed;
  margin-left: 25vw;
}

.line:nth-of-type(2) {
  width: 2vw;
  height: 100vh;
  /* background-color: gray; */
  /* z-index: 999; */
  position: fixed;
  margin-right: 25vw;
  right: 0;
  display: block;
}

/* .section_1 {
  border-left: 1pt solid red;
  border-right: 1pt solid red;
} */

li {
  /* float: left; */
  /* background-color: black; */
  position: absolute;
  scroll-snap-align: start;
  font-size: 0;
  max-width: 100vw;
  box-sizing: border-box;
  max-height: 95vh;
  overflow-y: scroll;
  /* height: 95vh; */
}

li:nth-of-type(1) {
  /* -webkit-animation: linear infinite; */
  -webkit-animation-name: run;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.75s;
  left: 100%;
  animation-fill-mode: forwards;
  /* background-color: #1c75bc; */
}

@-webkit-keyframes run {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

li:nth-of-type(2) {
  left: 400vw;
}

li:nth-of-type(3) {
  left: 800vw;
}

li:nth-of-type(4) {
  left: 1200vw;
}

li:nth-of-type(5) {
  left: 1600vw;
}

li:nth-of-type(6) {
  left: 2000vw;
}

li:nth-of-type(7) {
  left: 2400vw;
}

.row {
  display: flex;
  height: auto;
  box-sizing: border-box;
  align-items: stretch;
  position: relative;
  /* overflow: hidden; */
}

.side {
  /* background-color: gray; */
  /* max-height: fit-content; */
  /* padding-top: 4vh; */
  /* height: auto; */
  width: 15vw;
  /* border: rgb(50, 50, 50) 1pt solid; */
  background-color: gray;
  /* background-color: rgba(50,50,50); */
  /* border-radius: 1vh; */
  box-sizing: border-box;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: green; */
}

.side object {
  border-top: 1pt black solid;
  background-color: transparent;
  color: inherit; /* Inherit color */
  stroke: currentColor; /* Use current color for stroke */
}

.side img {
  border-top: 1pt black solid;
  background-color: transparent;
  color: inherit; /* Inherit color */
  stroke: currentColor; /* Use current color for stroke */
}

/* .row .side:nth-of-type(2) h2{
  z-index: 999;
  max-width: auto;
  position: sticky;
  top: 0;
  left: 0;
  font-family: "eurostile-extended", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.3rem;
  padding-top: 4vh;
  display: block;
  line-height: 125%;
  height: fit-content;
  padding-bottom: 4vh;
  min-width: 20vw;
} */

.side h2 {
  z-index: 999;
  justify-content: right;
  padding-right: 1vw;
  font-size: 6vh;
  background-color: rgba(50, 50, 50);
  /* background-color: #1c75bc; */
  color: gray;
  /* border-radius: 1vh; */
  height: 10vh;
  font-family: "eurostile-extended", sans-serif;
  font-weight: 900;
  font-style: normal;
  position: sticky;
  top: 0;
  display: flex;
  text-align: right;
  /* padding-left: 1vw; */
}

/* .side h2:nth-of-type(1) {
  margin-top: 16vh;
} */

.center {
  /* display: block; */
  /* width: 70vw; */
  /* background-color: #1c75bc; */
}

.center .side {
  display: flex;
  border-radius: 1vh;
  justify-content: space-around;
  position: sticky;
  top: 0;
  min-width: 70vw;
  max-height: 5vh;
  /* margin-left: 10vw; */
  /* width: 70vw; */
  /* background-color: gray; */
  overflow: hidden;
  border-bottom: 2pt black solid;
  border-top: 2pt black solid;
}

/* .graphics_column {
  width: 25vw;
  height: 100%;
  position: fixed;
  background-color: #1c75bc;
  z-index: 999;
}

.graphics_column:nth-of-type(1) {
  left: 0;
}

.graphics_column:nth-of-type(2) {
  right: 0;
} */

.main {
  position: relative;
  /* column-count: 2; */
  height: fit-content;
  /* background-color: rgb(205, 205, 205); */
  color: whitesmoke;
  background-color: rgba(50, 50, 50);
  /* color: whitesmoke; */
  line-height: 125%;
  hyphens: auto;
  font-size: 1.12rem;
  top: 0;
  font-family: "eurostile", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
  margin-left: 11vw;
  width: 48vw;
  box-sizing: border-box;
  padding-bottom: 8vh;
  padding-top: 4vh;
  padding-left: 5vw;
  padding-right: 4.2vw;
  font-weight: bold;
  z-index: 998;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.reference {
  /* color:#1c75bc; */
  overflow: hidden;
  max-width: 0;
  max-height: 0;
  opacity: 0;
  transition: max-width 0.5s ease; /* Ensures the reference doesn't wrap to the next line */
  display: inline-flex; /* Use inline-block to allow transitions */
}

figcaption .reference.active {
  background-color: firebrick;
  color: rgba(50, 50, 50) !important;
  font-weight: bold;
  border-left: 4pt rgba(50, 50, 50) solid;
  border-right: 4pt rgba(50, 50, 50) solid;
  width: 100%;
}

.reference.active {
  /* background-color:#1c75bc; */
  /* color: whitesmoke; */
  color:whitesmoke;
  width: 100%;
  background-color: #1c75bc;
  font-family: "eurostile", sans-serif;
  font-size: 1.12rem;
  /* text-align: justify; */
  /* overflow: auto; */
  margin-top: 1vh;
  margin-bottom: 1vh;
  /* border-radius: 1vh; */
  border-left: 4pt grey solid;
  border-right: 4pt grey solid;
  word-break: break-word;
  line-height: 125%;
  hyphens: auto;
  padding-top: 0.5vh;
  padding-bottom: 1vh;
  padding-right: 1vh;
  padding-left: 10px;
  max-width: 100%; /* Adjust as needed */
  max-height: 100%; /* Adjust as needed */
  opacity: 1;
  /* font-style: italic; */
}

.reference.active:hover {
  text-decoration: underline;
}

.reference-toggle {
  cursor: pointer;
  color: #1c75bc;
}

.reference-toggle:hover {
  color:firebrick;
}

figcaption .reference-toggle:hover {
  color: #1c75bc !important;
}

/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}

/* navigation */

nav {
}

/* content */

main {
}

summary {
}

/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {
  /* your 'mobile' overriding css properties here */

  /* utility classes, mobile */

  #door_1 {
    width: 50vw;
    height: 95vh;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: -50vw;
    /* background-color: aqua; */
    transition: left 0.5s ease-in-out;
    overflow: hidden; /* Ensure SVG doesn't overflow */
    /* border: 10pt solid red; */
    border-radius: 5vh;
  }

  #door_2 {
    width: 50vw;
    height: 95vh;
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: -50vw;
    /* background-color: aqua; */
    transition: right 0.5s ease-in-out;
    overflow: hidden; /* Ensure SVG doesn't overflow */
    /* border: 10pt solid red; */
    border-radius: 5vh;
  }

  #door_1 img {
    background-color: transparent;
    min-width: 100%;
  }

  #door_2 img {
    background-color: transparent;
    min-width: 100%;
  }

  #door_1.side {
    display: block;
  }

  #door_2.side {
    display: block;
  }

  .sub_chapter {
    display: flex;
    width: auto;
    /* background-color: aqua; */
    /* float: left; */
  }

  li .sub_chapter:last-of-type {
    display: block;
  }

  li .sub_chapter:last-of-type h2 {
    width: 65vw;
    margin-left: 20vw;
  }

  .sub_chapter:nth-of-type(1) {
    display: flex;
    /* justify-content: center; */
  }

  .sub_chapter:nth-of-type(1) h2 {
    /* width: 70vw !important; */
  }

  .sub_chapter h2 {
    top: 5vh;
    position: sticky;
    text-align: center;
    font-size: 3vh;
    height: auto;
    padding-bottom: 1vh;
    width: fit-content;
    background-color: firebrick !important;
    color: whitesmoke !important;
    /* width: 50%; */
  }

  .sub_chapter h2:nth-of-type(1) {
    display: block !important;
    margin-left: 5vw;
    width: 15vw;
    background-color: #1c75bc !important;
  }

  .sub_chapter h2:nth-of-type(2) {
    display: block !important;
    width: 65vw;
  }

  .sub_chapter {
    /* min-width: 70vw; */
    /* margin-left: 5vw;
    margin-right: 5vw; */
    /* display: inline !important; */
  }

  h2.dot {
    /* width: 100%; */
  }

  .wrapper {
    height: 95vh;
    margin-top: 5vh;
  }

  /* .preloader {
    display: none;
  } */

  li {
    overflow-x: hidden;
    height: 95vh;
  }

  #slider {
    /* display: block; */
  }

  header .dot {
    /* display: none; */
  }

  /* #map {
    width: 100vw;
    height: 100vh;
    background-color: red;
    bottom: 0;
    z-index: 998;
  } */

  #dot_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5vw;
  }

  @keyframes slide-down {
    0% {
      max-height: 0px;
      opacity: 0;
    }
    100% {
      max-height: 480px;
      opacity: 1;
    }
  }

  /* .clock {
    display: none;
  } */

  .title h2:nth-of-type(1) {
    /* max-width: 15vw; */
  }

  .title h2:nth-of-type(2) {
    width: 100%;
  }

  .row h2 {
    /* max-width: 20vw; */
  }

  h2 {
    font-size: 5vh;
  }

  .side {
    display: none;
  }

  .side_graphics {
    /* overflow: hidden; */
  }

  .side h2 {
    font-size: 3vh;
    width: 15vw;
    height: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .center {
    width: 100%;
  }

  .center .side {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    z-index: 998;
  }

  .center h2 {
    z-index: 999;
    max-width: 70vw;
    /* margin-left: 15vw; */
    /* margin-right: 15vw; */
  }

  .main {
    /* background-color: black;
    color: whitesmoke; */
    /* max-width: 100vw; */
    /* width: 60vw; */
    font-size: 1rem;
    z-index: 997;
    /* padding-left: 2vw;
    padding-right: 2vw; */
    line-height: 125%;
    hyphens: auto;
    width: 90vw;
    /* text-align: center; */
    /* text-justify: justify; */
    /* text-align: justify; */
    /* top: 0; */
    margin-left: 5vw;
    margin-right: 5vw;
  }

  h1 {
    max-width: 100vw;
    font-size: 4rem;
  }

  figure {
    width: 90vw;
  }

  figure img {
    min-width: 100%;
  }

  figure video {
    min-width: 100%;
  }

  figcaption {
    font-size: 1rem;
    min-width: 90vw;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}

/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {
  /* your overriding css properties here */
  /* body {
    margin: 0;
  } */
}

/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {
  /* body {
    margin: 0;
  } */
  /* your overriding css properties here */
}

/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {
  /* body {
    margin: 0;
  } */
  /* your overriding css properties here */
}
